In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('bank-full.csv')

In [4]:
data.head(7)

,age,job,marital,education,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no

Задача: Классификация клиентов на два класса - откроет или нет инвестиционный счет в банке?

**Информация по клиенту**
* age - возраст
* job - работа
* marital - семейное положение
* education - образование
* balance - доход
* housing - наличие ипотеки
* loan - наличие кредита

**Информация по последнему контакту в текущей компании**

* contact - тип коммуникации
* day - день посл конт с клиентом
* month - месяц посл конт с клиентом
* duration - период посл конт с клиентом

**Прочие признаки**

* campaign - кол-во контактов с клиентом
* pdays - кол-во дней, кот прошло между посл и предпосл конт с клиентом
* previous - кол-во конт с клиентом, искл посл
* poutcome - рез-ты рекламной кампании

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [8]:
data['y'] = le.fit_transform(data['y'])

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   balance    45211 non-null  int64
 5   housing    45211 non-null  object
 6   loan       45211 non-null  object
 7   contact    45211 non-null  object
 8   day        45211 non-null  int64
 9   month      45211 non-null  object
 10  duration   45211 non-null  int64
 11  campaign   45211 non-null  int64
 12  pdays      45211 non-null  int64
 13  previous   45211 non-null  int64
 14  poutcome   45211 non-null  object
 15  y          45211 non-null  int64
dtypes: int64(8), object(8)
memory usage: 5.5+ MB

In [12]:
data.contact.value_counts()

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64

In [13]:
columns_drop = ['contact', 'loan', 'day', 'campaign', 'pdays', 'previous', 'poutcome']

In [14]:
data = data.drop(columns_drop, axis=1)

In [17]:
data.head()

   age  job  marital  education  balance  housing  month  duration  y
0   58    4        1          2     2143        1      8       261  0
1   44    9        2          1       29        1      8       151  0
2   33    2        1          1        2        1      8        76  0
3   47    1        1          3     1506        1      8        92  0
4   33   11        2          3        1        0      8       198  0

In [16]:
cat_features = ['job', 'marital', 'education', 'housing', 'month']

for i in cat_features:
    data[i] = data[i].astype('category').cat.codes

In [18]:
useful_col = ['job', 'marital', 'education', 'housing', 'month', 'duration', 'balance']

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.drop('y', axis = 1), data['y'], test_size=0.3)

In [21]:
from sklearn.linear_model import LogisticRegression

In [23]:
LogReg = LogisticRegression(random_state=0)
LogReg.fit(x_train, y_train)

/home/elena/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [25]:
y_train_pred = LogReg.predict(x_train)

In [26]:
y_train_proba = LogReg.predict_proba(x_train)[:, 1]

In [28]:
LogReg.score(x_train, y_train)

0.8894997946092836

In [29]:
y_test_pred = LogReg.predict(x_test)
y_test_proba = LogReg.predict_proba(x_test)[:, 1]
LogReg.score(x_test, y_test)

0.8836626363904453