In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('bank-full.csv')

Информация о клиенте: 

- 1 - age (numeric) - возраст
- 2 - job - тип работы
- 3 - marital - семейное положение
- 4 - education - уровень образования
- 5 – balance: Уровень дохода
- 6 - housing: Есть ли ипотека
- 7 - loan: Есть ли кредит

Информация по последнему контакту в текущей кампании: 
- 8 - contact: Тип коммуникации
- 9 - day_of_week: день последнего контакта с клиентом
- 10 - month: месяц последнего контакта с клиентом
- 11 - duration: длительность последнего контакта, в секундах (numeric). 

Прочие признаки: 
- 12 - campaign: количество контактов с клиентом (numeric, includes last contact)
- 13 - pdays: количество дней, которое прошло между последним и предпоследним контактом
- 14 - previous: количество контактов с клиентом, исключая последний контакт (numeric)
- 15 - poutcome: результаты последней рекламной компании 

Целевая переменная:
- 16 - y - откроет ли клиент инвестиционный счет в нашем банке?  (binary: 'yes','no')

In [3]:
data.head()

,age,job,marital,education,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
data['y'] = data.y.astype('category').cat.codes

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   balance    45211 non-null  int64
 5   housing    45211 non-null  object
 6   loan       45211 non-null  object
 7   contact    45211 non-null  object
 8   day        45211 non-null  int64
 9   month      45211 non-null  object
 10  duration   45211 non-null  int64
 11  campaign   45211 non-null  int64
 12  pdays      45211 non-null  int64
 13  previous   45211 non-null  int64
 14  poutcome   45211 non-null  object
 15  y          45211 non-null  int8
dtypes: int64(7), int8(1), object(8)
memory usage: 5.2+ MB

In [6]:
data.contact.value_counts()

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64

In [7]:
data = data.drop('contact', axis=1)
data = data.drop('loan', axis=1)
data = data.drop('day', axis=1)
data = data.drop('campaign', axis=1)
data = data.drop('pdays', axis=1)
data = data.drop('previous', axis=1)
data = data.drop('poutcome', axis=1)

In [8]:
data.head()

   age           job  marital  education  balance housing month  duration  y
0   58    management  married   tertiary     2143     yes   may       261  0
1   44    technician   single  secondary       29     yes   may       151  0
2   33  entrepreneur  married  secondary        2     yes   may        76  0
3   47   blue-collar  married    unknown     1506     yes   may        92  0
4   33       unknown   single    unknown        1      no   may       198  0

In [9]:
cat_features = ['job', 'marital', 'education', 'housing', 'month']

for i in cat_features:
    data[i] = data[i].astype('category').cat.codes

In [10]:
useful_cols = ['job', 'marital', 'education', 'balance', 'housing', 'month', 'duration']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.drop('y', axis=1), data['y'], test_size=0.3)

In [12]:
from sklearn.linear_model import LogisticRegression
LogReg = LogisticRegression(random_state=0).fit(X_train, y_train)

/home/elena/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
y_pred_train = LogReg.predict(X_train)
y_predict_proba_train = LogReg.predict_proba(X_train)[:,1]

In [14]:
LogReg.score(X_train, y_train)

0.8865927260087844

In [15]:
from sklearn.metrics import roc_auc_score
print('ROC-AUC: ', roc_auc_score(y_train, y_predict_proba_train))

ROC-AUC:  0.7905647964009562

In [16]:
y_pred = LogReg.predict(X_test)
y_predict_proba = LogReg.predict_proba(X_test)[:,1]

In [17]:
LogReg.score(X_test, y_test)

0.8894868770274256

In [18]:
print('ROC-AUC: ', roc_auc_score(y_test, y_predict_proba))

ROC-AUC:  0.7777364296003954